/* Header */
.header {
  height: 70px;
  background-color: #3AAFA9;
  font-family: 'Luckiest Guy', cursive; }
  .header a {
    text-decoration: none; }

.header__title {
  display: flex;
  padding-top: 4px; }

.header__subtitle {
  padding-top: 19.5px; }

.header__title a {
  color: #17252A;
  font-size: 50px; }

.header__subtitle a {
  color: #DEF2F1;
  margin: auto; }

/* Search */
.search {
  padding-top: 30px;
  font-family: 'Josefin Sans', sans-serif; }
  .search h3 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #17252A; }
  .search input {
    width: 50%;
    margin: 0 auto; }

.content {
  padding-top: 50px; }

.names h2 {
  font-size: 25px;
  font-family: 'Luckiest Guy', cursive; }

#movies img {
  margin-bottom: 35px;
  padding-top: 20px; }

#movies h2, h6 {
  padding-top: 20px; }
.rating img{
    margin-top: 12px;
}
.rating {

}
.rating h6 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 25px;
}
.rating #star {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: -25px;
    right: 10px;
}
